@font-face {
    font-family: "Pixelify Sans";
    src: url('fonts/PixelifySans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: black;
    --text-color: white;
    --primary-color: #f88241; /* #FF953D;*/
    --secondary-color:#8bec23;
    --tertiary-color: #a998eb;
    --vp-h1: 5vw;
    --vp-h2: calc(var(--vp-h1) / 2);
    --vp-text: 1vw;
    font-family: "Pixelify Sans";
    color: var(--text-color);
    font-size: var(--vp-text);

    & h1 {
        font-size: var(--vp-h1);
    }
    & h2 {
        font-size: var(--vp-h2);
    }
}

@media screen and (orientation: portrait){
    :root {
        --vp-h1: 4.5vh;
        --vp-h2: calc(var(--vp-h1) / 2);
        --vp-text: 2vh;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    background-image: url("wp.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
}

main {
    background-color: #101010FF;
    border: 5px solid var(--primary-color);
    padding: 1vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 800px;
}

@media screen and (orientation: portrait){
    main {
        width: 95%;
    }
}

main > header {
    margin:auto;
    margin-left: 11px;
}

main > header span,h1 {
    font-size: var(--vp-h1);
    font-optical-sizing: auto;
    text-shadow:  +2px 0px 0px var(--tertiary-color), -5px 0px 0px var(--primary-color);
    display: inline;
}

.blink {
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from{
    color: transparent;
    text-shadow:  +2px 0px 0px transparent, -5px 0px 0px transparent;
  }
  60%, to {
    color: var(--text-color);
    text-shadow:  +2px 0px 0px var(--tertiary-color), -5px 0px 0px var(--primary-color);
  }
}

.news-card-container {
    position: relative;
    top: -50px;
    left: 85%;
}

@media screen and (orientation: portrait) {
    .news-card-container {
       display: none;
    }
}

.news-card {
    position: absolute;
    width: 200px;
    height: 100px;
    rotate: 15deg;
    border: 5px dashed var(--tertiary-color); /*var(--primary-color);*/
    background-color: white;
    display: flex;
    align-items:center;
    justify-content:center;
}

.news-card-content {
    color: black;
    text-align: center;
}

.static2flex {
    display: grid;
}

@media screen and ((orientation: portrait) or (max-width: 800px)){
    .static2flex{
        display: flex;
        flex-direction: column;
    }
}

#content {
    border-top: 3px solid var(--secondary-color);
    padding: 30px 10px;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: var(--background-color);
    color:var(--text-color);
}

main nav {
    grid-area: 1 / 1 / 1 / 1;
    border: 2px dashed var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main nav ul {
    text-align: left;
    font-size: calc(var(--vp-text)*1.5);
}
main nav > h2 {
    margin: 0;
    margin-top: 1ex;
    text-shadow:  +1px 0px 0px var(--tertiary-color), -2px 0px 0px var(--primary-color);
}

a {
    color:var(--text-color);
}

main nav .img-cont {
    /* margin-top: auto; */
}
main nav img {
    max-width: 100%;
}

.textbox{
    padding: 10px 20px;
    grid-area: 1 / 2 / 3 / 3;
    border: 3px solid var(--tertiary-color);

    text-shadow: -1px 1px 0px black;
}

#rotating_pig {
    position:absolute;
    z-index: -1;
    animation: roam_x 10s normal  infinite linear,
               roam_y 1s alternate infinite cubic-bezier(0.36,0,0.63,1); /* cubic-bezier(0.36,1,0.63,0);*/
    animation-timing-function:
}

@keyframes "roam_x" {
  from, to{
      left: 10%;
  }
  50% {
      left: 80%;
  }
}

@keyframes "roam_y" {
  from{
      bottom: 0;
  }
  to {
      bottom: 10%;
  }
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacts img {
    max-width: 20px;
}

.contacts a {
    font-size: 24px;
}


.minecraft-img {
    grid-area: 3 / 1 / 5 / 3;
    grid-template-columns: 5fr 2fr;
    border: 3px dashed var(--secondary-color);
}
.minecraft-img img {
    grid-area: 1 / 1 / 3 ;
    max-width: 100%;
    margin: 20px 20px;
    /* width: 60%; */
}
.minecraft-img-comment {
    grid-area : 1 / 2;
    margin-left: 20%;
    margin-right: 20%;
}
.minecraft-img-comment p {
    text-align: left;
}
